<div class="page-header">
  <h2><%= params[:db_name] %> collections</h2>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#collections" data-toggle="tab">Collections</a>
  </li>
  <li><a href="#stats" data-toggle="tab">Stats</a></li>
</ul>

<div class="tab-content">
  <div ng-controller="CollectionsCtrl" data-collections='<%= @collections.to_json %>' class="tab-pane active" id="collections">
    <filter placeholder="Enter collection name"></filter>

    <table ng-hide="noMatches()" class="table table-striped table-hover collections">
      <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th class="actions">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="collection in filteredCollections">
          <td>
            <a href="/databases/<%= params[:db_name] %>/collections/{{collection.name}}">
              {{collection.name}}
            </a>
          </td>
          <td>{{collection.size}}</td>
          <td>
            <a href="/databases/<%= params[:db_name] %>/collections/{{collection.name}}" class="btn btn-danger" data-method="delete" data-confirm="Are you sure?">
              <i class="icon-remove-circle"></i>
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div ng-show="noMatches()" class="filter alert">
      Nothing has been found.
    </div>
  </div>

  <div class="tab-pane" id="stats">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <% @stats.each do |property, value| %>
        <tr>
          <td><%= property %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
