<div class="page-header">
  <h2>Collection <%= params[:collection_name] %></h2>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#documents" data-toggle="tab">Documents</a>
  </li>
  <li><a href="#stats" data-toggle="tab">Stats</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="documents">
    <%= will_paginate(@pagination, renderer: BootstrapPagination::Sinatra) %>

    <table class="table table-striped table-hover documents">
      <thead>
      <tr>
        <th>Id</th>
        <th>Data</th>
        <th class="actions">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @documents.each do |document| %>
        <tr class="document">
          <td><%= document['_id'] %></td>
          <td><%= document.ai(html: true) %></td>
          <td>
            <a href="/databases/<%= params[:db_name] %>/collections/<%= params[:collection_name] %>/<%= document['_id'] %>" class="btn btn-danger" data-method="delete" data-confirm="Are you sure?">
              <i class="icon-remove-circle"></i>
              Delete
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= will_paginate(@pagination, renderer: BootstrapPagination::Sinatra) %>
  </div>

  <div class="tab-pane" id="stats">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <% @stats.each do |property, value| %>
        <tr>
          <td><%= property %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
