<header>
  <h2>localhost databases</h2>
</header>

<%= erb :"shared/_filter", {}, { filter_for: "databases", placeholder: "Database name" } %>

<table class="table table-striped table-hover databases">
  <thead>
  <tr>
    <th>Name</th>
    <th>Collections</th>
    <th>Size</th>
    <th class="actions">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @databases.each do |database| %>
    <tr>
      <td><a href="/databases/<%= database[:name] %>"><%= database[:name] %></a></td>
      <td><%= database[:count] %></td>
      <td><%= "%.2f" % database[:size] %> MB</td>
      <td>
        <a href="/databases/<%= database[:name] %>" class="btn btn-danger" data-method="delete" data-confirm="Are you sure?">
          <i class="icon-remove-circle"></i>
          Delete
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
