<ul class="nav nav-tabs">
  <li class="active">
    <a href="#collections" data-toggle="tab">Collections</a>
  </li>
  <li><a href="#stats" data-toggle="tab">Stats</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="collections">
    <form class="filter">
      <div class="input-append">
        <input type="text" value="" class="span3" placeholder="Collection name">

        <button type="button" class="btn clear">
          <i class="icon-remove-circle"></i>Clear
        </button>
        <button type="submit" class="btn btn-info">
          <i class="icon-filter"></i>Filter
        </button>
      </div>
    </form>

    <table class="table table-striped collections">
      <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
      </tr>
      </thead>
      <tbody>
      <% @collections.each do |collection| %>
        <tr class="collection">
          <td><a href="/databases/<%= params[:db_name] %>/collections/<%= collection.name %>"><%= collection.name %></a></td>
          <td><%= collection.size %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="alert" style="display: none;">
      Nothing found.
    </div>
  </div>

  <div class="tab-pane" id="stats">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <% @stats.each do |property, value| %>
        <tr>
          <td><%= property %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
