<h2>Collections</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @collections.each do |collection| %>
    <tr>
      <td><a href="/databases/<%= params[:db_name] %>/collections/<%= collection.name %>"><%= collection.name %></a></td>
      <td><%= collection.size %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Database stats</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @stats.each do |property, value| %>
    <tr>
      <td><%= property %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
